@media screen and (max-width : 720px) {
    p{
        font-size: calc(.1rem + 1.5vh);
    }
    h3{
        font-size: calc(1.5rem + 2vh) !important;
    }
    .img-responcive{
    width: 100%;
    height: auto;
}
    body{  
        height: 160vh;
      background:linear-gradient(160deg, #0F3661, #0F3661 40%, white 40%, white);}  
        .flex{
            display: flex;
            /* flex-direction: column-reverse; */
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .address, .mail, .whatsapp{
            display: flex;
            justify-content: center;
        }
        .container{
            margin-left: 1vh;
            margin-right: 1vh;
            background-color: rgb(255, 255, 255) ;
            min-width: 20px;
            min-height: 200px;
            padding: 20px;
        }
        .text-center{
            text-align: center;
        }
        .inputSlide input:first-child{
            width: 30%;
        }
        .flex{
            position: relative;
        }
        .toast{
            animation-name: animate;
            animation-duration: 1s;
            /* z-index: 1; */
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: red;
            position: relative;
            top: 0px;
            /* left: 0px; */
            color: white;
            /* padding: 10px 10px 10px 50px; */
            border-radius: 0px 0px 0px 0px;
        }
        .toast-out{
            animation-name: toast-out;
            transition: .5s;
        }
        @keyframes toast-out{
            0%{
                top: 0px;
        
            }
            100%{
                top: -100px;
            }
        }
        @keyframes animate{
            0%{
                top: -100px;
        
            }
            25%{
                top: 0px;
            }
        }
        .toast i{
            padding: 5px 15px;
            cursor: pointer;
        }
}