*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
a{
    cursor: pointer;
}
body{  
    height: 100vh;
    background:linear-gradient(160deg, #0F3661, #0F3661 40%, white 40%, white);
}
.hide{
    /* transition: 2s !important; */
    display: none !important;
}
.img{
    display: flex;
    justify-content: center;
}
.red{
    color: red;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.default-font{
    font-family:Segoe UI;
}
h3{
    font: normal normal 600 44px/58px Segoe UI;
}
body{
    background-color: rgb(65, 65, 65);
}

.img-responcive{
    width: 80%;
    height: auto;
}
.container{
    margin-top: 30px;
    margin-left: 5vh;
    margin-right: 5vh;
    background-color: rgb(255, 255, 255) ;
    min-width: 20px;
    min-height: 200px;
    padding: 20px;
    border: 2px solid rgb(0, 166, 255);
    border-radius: 10px;
}
.flex{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    /* justify-content: space-between; */
    justify-content: flex-start;
}
.theme-default{
    color: #0F3661;
    font-size: 44px;
}
input, textarea{
    margin: 5px 0px;
    padding: 10px 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid grey;
}
.flexbox {
    padding: 10px;
  flex: 1;

}
.input{
    padding: 5px;
}
.inputSlide{
    display: flex;
    justify-content: center;
}
.inputSlide input:first-child{
    width: 30%;
}
.button{
    display: flex;
    justify-content: flex-end;
}
.btn a{
    text-decoration: none;
    color: white;
}
.btn{
    padding: 10px 20px;
    border-radius: 5px;
}
.button_cancel{
    background-color: rgb(255, 126, 97);
}
.button_submit{
    background-color: rgb(71, 81, 255);
    margin-left: 10px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 0.5px solid grey;
    background-color: #ffffff;
    margin: 10px 10px;
}
.icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact_whatsapp {
    display: block;
}
textarea{
    min-height: 100px;
}
.flex{
    position: relative;
}
.toast{
    animation-name: animate;
    animation-duration: 2s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    padding: 10px 10px 10px 50px;
    border-radius: 50px 0px 0px 50px;
}
.toast-out{
    animation-name: toast-out;
    transition: 2s;
}
@keyframes toast-out{
    0%{
        right: 0px;

    }
    100%{
        right: -1000px;
    }
}
@keyframes animate{
    0%{
        right: -1000px;

    }
    25%{
        right: 0px;
    }
}
.toast i{
    padding: 5px 15px;
    cursor: pointer;
}